<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>vue start</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
</head>

<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <div id="app-4">
    
   <ul>
     <li v-for='(item , index) in todos' :class=`list0${index+1}`>
      <span>{{index + 1}}</span> {{item.text}}
     </li>
   </ul>

  
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>



<script>
var app4 = new Vue({
  el:'#app-4',
  data:{
    todos :[
      {text : 'this is text001'},
      {text : 'this is text002'},
      {text : 'this is text003'},
      {text : 'this is text004'}
    ]
  }

})

</script>

</body>

</html>