<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>vue 实例属性与方法</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
</head>

<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <div id="app-8">

<p>实例属性与方法</p>


    <p @click='reverseMessage'>{{a}}</p>
    <p @click='reverseMessage'>{{this.a}}</p>

    <!-- 
        这个地方用this.a 不合法
        <p @click = 'reverseMessage'>{{this.a}}</p>
      
      -->


  </div>



  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


  <script>
    var data = {
      a: 1,
      b: 2
    }
    var app8 = new Vue({
      el: '#app-8',
      data: data,
      methods: {
        reverseMessage: function () {
          this.a++
          //data.a ++   用这个也行
          console.log(data.a)
          console.log(this.a)
          console.log(this)
          console.log(data)
          //console.log(this.data) 访问不到，但可以访问到 this._data
          //console.log(a) 这个地方用a 不合法
          console.log(app8.$data === data); //true
        }
      }
    })

    // 访问 app8里面的data，需要访问 app8.$data
    // 直接访问 app8.data 是什么也访问不到的
    // 而访问data里面的属性，比如 a 属性，则需要直接访问 app.a ，而不是app.$a



    // Vue 实例还暴露了一些有用的实例属性与方法。它们都有前缀 $，以便与用户定义的属性区分开来。


// $data  $el   是实例属性
    console.log(app8.$data);
    console.log(app8.data); // undifine
    console.log(data);
    console.log(app8.a); // 1
    console.log(app8.$a);       // undifine 这个不能乱用，不是$后面随便跟属性阿
    console.log(app8.$methods); // undifine 然并访问不到


// app8.$watch  就是实例方法
    app8.$watch('a', function (newValue, oldValue) {
      // 这个回调将在 `app8.a` 改变后调用
      console.log(`app8.a的值从 ${oldValue} 改变为 ${newValue} 啦`)
    })


  </script>

</body>

</html>