<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>vue 模板语法</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
</head>

<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <div id="app-10">
    <div v-once>
      <!--  
        被这个 v-once包围的元素的内容不会因为data的改变而改变
       -->
      <h1>模板语法</h1>
      <h2>插值</h2>

      <!-- 原始 HTML  
      运用Mustache 语法 
     -->

      <p>Message : {{msg}}</p>
      <p>Message : {{msg}}</p>
    </div>


    <input type="text" v-model='msg'>


    <p>Message : {{msg}}</p>

    <!-- 特性
      Mustache 语法不能作用在 HTML 特性上，遇到这种情况应该使用 v-bind 指令： 
    -->

    <div v-bind:id="msg">asdadasdasd</div>

    <button v-bind:disabled="isButtonDisabled">Button</button>

<button @click='changeBull'>改变</button>

    <hr>
    <hr>


    <h2>指令</h2>
    指令 (Directives) 是带有 v- 前缀的特殊特性。指令特性的值预期是单个 JavaScript 表达式 , v-for 是例外情况。



    <p>这一块后面很神秘 <span v-if='isButtonDisabled'> 神秘海域</span></p>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


  <script>
    var app10 = new Vue({
      el: '#app-10',
      data: {
        msg: '这个sidenav真碍事儿',
        aThis: 1,
        bThis: 2,
        isButtonDisabled: (Math.random() > 0.5) ? true : false
      },
      methods: {
        changeBull(){
         this.isButtonDisabled = !this.isButtonDisabled
         console.log(this.isButtonDisabled)
        }
      }
    })

    console.log(app10.$data.isButtonDisabled);
  </script>

</body>

</html>