<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>vue start</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
</head>

<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <div id="app-5">

    <p>{{message}}</p>
    <button v-on:click='reverseMessage'>Reverse</button><br><br>

    <button v-on:click='delateNotEnglish'>删除非英文字符</button><br><br>

    <input v-model="message"><br><br>
    <textarea v-model="message">{{message}}</textarea>



  </div>



  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


  <script>
    var app5 = new Vue({
      el: '#app-5',
      data: {
        message: 'This is an apple'
      },
      methods: {
        reverseMessage: function () {
          this.message = this.message.split('').reverse().join('')
        },
        //上下是两种定义methods的方式
        delateNotEnglish() {
          var newArr = [];
          for (i in this.message) {
            // console.log( this.message[i].charCodeAt() )
            if (this.message[i].charCodeAt() < 255) {
              newArr.push(this.message[i]);
            }
          }
          this.message = newArr.join('');
        }
      }
    })



  </script>

</body>

</html>