<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>vue 实例生命周期钩子</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
</head>

<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <div id="app-9">

    <p>实例生命周期钩子</p>
    <button @click='bPlus'>让b加一的按钮</button>
    <p>{{b}}</p>

  </div>



  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


  <script>
    var app9 = new Vue({
      el: '#app-9',
      data: {
        a: 1,
        b: 1
      },
      methods: {
        bPlus() {
          this.b++
        }
      },
      created: function () {
        // `this` 指向 vm 实例
        console.log('a is: ' + this.a)
        console.log('b is: ' + this.b)
        this.b++
        console.log('b is: ' + this.b)
        console.log('created is being done ，--->> created 是生命周期钩子函数')
      },

      mounted: function () {
        console.log('mounted is being done ，--->> mounted 是生命周期钩子函数')
      },

      updated: function () {
        console.log('updated is being done ，--->> updated 是生命周期钩子函数')
      }
    })

    app9.$watch('b', function (newB, oldB) {
      console.log(`this is oldB:${oldB} and now this is newB:${newB} \n // 该条显示由 $watch 制造, $watch 是一种实例方法`)
    })



    //  生命周期的不同阶段 有不同的 生命周期钩子函数
    //  如 created mounted updated destroyed
  </script>

</body>

</html>