<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>vue start</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
</head>

<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <div id="app-7">
    <ol>
      <!--
      现在我们为每个 todo-item 提供 todo 对象
      todo 对象是变量，即其内容可以是动态的。
      我们也需要为每个组件提供一个“key”，稍后再
      作详细解释。
    -->
      <todo-item 
        v-for="item in groceryList" 
        v-bind:bumingbai="item" 
        v-bind:key="item.id">
      </todo-item>
    </ol>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


  <script>
    Vue.component('todo-item', {
      props: ['bumingbai'],
      template: '<li> {{bumingbai.text}} </li>'
    })

    var app7 = new Vue({

      el: '#app-7',
      data: {
        groceryList: [{
            id: 0,
            text: '蔬菜'
          },
          {
            id: 1,
            text: '奶酪'
          },
          {
            id: 2,
            text: '其他物品'
          }
        ]

      }
    })
  </script>

</body>

</html>